[submodule "vendor/sv2-apps"]
	path = vendor/sv2-apps
	url = https://github.com/stratum-mining/sv2-apps
[submodule "vendor/p2poolv2"]
	path = vendor/p2poolv2
	url = https://github.com/p2poolv2/p2poolv2
